body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

:root {
  --primary-font: "Poppins", sans-serif;
  --title-font: "Oswald", sans-serif;
}
/* header */
/* Logo */
.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.link {
  text-decoration: none;
}
.web-studio-nav {
  color: #2e2f42;
}
.list {
  list-style: none;
}
.nav-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-studio:hover,
.nav-studio:focus {
  color: #404bbf;
}

/* Top Line adressa info  */
.address {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.address-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-info:hover,
.address-info:focus {
  color: #404bbf;
}

/* Section 1  */
.filter {
  background-color: #2e2f42;
}

.list-filter-h1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button-all {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
}
.button-all:hover,
.button-all:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}

.list-row1 {
  list-style: none;
}

.portfolio-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*  Footer  */
.footer {
  background-color: #2e2f42;

}
