body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-list-color);
  background-color: var(--primary-wite-color);
}

:root {
  --primary-blue-color: #4d5ae5;
  --primary-wite-color: #ffffff;
  --primary-dark-color: #2e2f42;
  --primary-list-color: #434455;
  --nav-list-color: #404bbf;
  --footer-color: #f4f4fd;
  --section-color: #2E2F42;
  --primary-section-four: #F4F4FD;
  --button-color: #404bbf;
}
/* header */
/* Logo */
.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-blue-color);
}
.link {
  text-decoration: none;
}
.web-studio-nav {
  color: var(--primary-dark-color);
}
.list {
  list-style: none;
}
.nav-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-dark-color);
}
.nav-studio:hover,
.nav-studio:focus {
  color: var(--nav-list-color);
}

/* Top Line adressa info  */
.address {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.address-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-list-color);
}
.address-info:hover,
.address-info:focus {
  color: var(--primary-blue-color);
}

/* Section 1  */
.filter {
  background-color: var(--primary-dark-color);
}

.list-filter-h1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-wite-color);
}

.button-all {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-blue-color);
  background-color: var(--primary-wite-color);
}







.button-all:focus,
.button-all:hover {
  
  background-color: var(--button-color);
  color: var(--primary-wite-color);
  cursor: pointer;
}

.list-row1 {
  list-style: none;
}

.portfolio-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-dark-color);
}

.portfolio-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-list-color);
}

/*  Footer  */
.footer {
  background-color: var(--primary-dark-color);
}

.color-logo-header {
  color: var(--footer-color);
}

.footer-poragrof {
  line-height: 1.5;
  color: var(--footer-color);
  letter-spacing: 0.02em;
}

.section-one {
  background-color: var(--primary-dark-color);
}

.section-one-h {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-wite-color);
}

.button-section-one {
  background-color: var(--primary-blue-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-wite-color);
  cursor: pointer;
}

.button-section-one:hover,
.button-section-one:focus {
  background-color: var(--primary-blue-color);
}

.section-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--section-color);
}
.list-section-two-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-list-color);
}

.section-three-h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-dark-color);
}

.section-four {
  background-color: var(--primary-section-four);
}
.section-four-h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-dark-color);
}

.list-section-four {
  background-color: var(--primary-wite-color);
}
